# Core data handling
pandas==3.0.2
numpy==2.4.4

# Visualization
matplotlib==3.10.8
seaborn==0.13.2

# ARIMA / SARIMA
statsmodels==0.14.6
pmdarima==2.1.1

# Prophet
prophet==1.3.0
cmdstanpy==1.3.0

# LSTM
tensorflow-cpu==2.21.0

# Metrics / preprocessing
scikit-learn==1.8.0
